@use "../../utils/colours";
@import "../../utils/typography";

.invitees {
  gap: 1.5rem;

  .invitee-wrapper {
    gap: 3rem;
    .viewHeader {
      @include h3($semibold);
    }
    .invitee-cta {
      gap: 1.5rem;
    }
  }
}
