@use "../../utils/colours";
@import "../../utils/typography";

.send-invite {
  width: 35%;

  .modal_header {
    justify-content: space-between;
  }

  .modal_header,
  .scroll-modal-content,
  .modal-footer-actions {
    padding: 0rem 2.5rem 0rem 2.5rem;
  }

  .scroll-modal-content {
    height: 30rem;
    gap: 2rem;
    border-top: 0.3px solid colours.$brown-40;
    border-bottom: 0.3px solid colours.$brown-40;
    padding-top: 1.2rem;
    overflow-y: scroll;
  }
  .invitee-list-wrapper {
    gap: 1.25rem;
    .invitee-list-title {
      color: colours.$grey-60;
    }
    .invitee-dets-wrapper,
    .invitee-dets {
      gap: 1.5rem;
    }

    .invitee-list {
      padding: 1rem 0.88rem;
      justify-content: space-between;
      border: 0.6px solid colours.$grey-40;
      border-radius: 0.56rem;

      .invitee-email {
        font-weight: 600;
        color: colours.$grey-90;
      }
    }
    .invitee_actions {
      gap: 0.88rem;
      img {
        cursor: pointer;
      }
    }
  }
  .invitee-form {
    padding: 1.5rem 0.88rem;
    border: none;
    border-radius: 0.81rem;
    background-color: colours.$grey-10;
    gap: 1.75rem;

    .form-inputs {
      gap: 1rem;
    }

    .form-actions {
      gap: 1.75rem;
      align-items: center;
      justify-content: flex-end;
      .text_btn {
        cursor: pointer;
      }
      .cancel_btn {
        color: colours.$grey-60;
      }
      .delete_btn {
        color: colours.$red-60;
      }
    }
  }

  .duplicate-email-msg {
    font-weight: 500;
    line-height: 145%;
    color: colours.$grey-60;
  }
}

.modal-footer-actions {
  justify-content: flex-end;
  gap: 1rem;
}
