@use "../../utils/colours";
@import "../../utils/typography";

.empty-state {
  width: 30%;
  margin: 0 auto;
  align-items: center;
  gap: 1.2rem;
  margin-top: 4rem;
  img {
    width: 50%;
  }
  .empty-state-content {
    gap: 0.7rem;
    align-items: center;

    .empty-state-title {
      @include h5($semibold);
      text-align: center;
      color: colours.$grey-60;
    }
    .empty-state-subtitle {
      text-align: center;
      color: colours.$grey-60;
      width: 80%;
    }
  }
}
